@font-face {
    font-display: swap;
    font-family: 'Amatic SC';
    font-style: normal;
    font-weight: 400;
    src: url("https://static.branchbob.io/fonts/amatic-sc-v24-latin-regular.eot");
    src: url("https://static.branchbob.io/fonts/amatic-sc-v24-latin-regular.eot?#iefix") format("embedded-opentype"),url("https://static.branchbob.io/fonts/amatic-sc-v24-latin-regular.woff2") format("woff2"),url("https://static.branchbob.io/fonts/amatic-sc-v24-latin-regular.woff") format("woff"),url("https://static.branchbob.io/fonts/amatic-sc-v24-latin-regular.ttf") format("truetype"),url("https://static.branchbob.io/fonts/amatic-sc-v24-latin-regular.svg#AmaticSC") format("svg")
}

@font-face {
    font-display: swap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url("https://static.branchbob.io/fonts/inter-latin-regular.eot");
    src: url("https://static.branchbob.io/fonts/inter-latin-regular.woff2") format("woff2"),url("https://static.branchbob.io/fonts/inter-latin-regular.woff") format("woff"),url("https://static.branchbob.io/fonts/inter-latin-regular.ttf") format("truetype")
}

@font-face {
    font-display: swap;
    font-family: 'Arvo';
    font-style: normal;
    font-weight: 400;
    src: url("https://static.branchbob.io/fonts/arvo-v20-latin-regular.eot");
    src: url("https://static.branchbob.io/fonts/arvo-v20-latin-regular.eot?#iefix") format("embedded-opentype"),url("https://static.branchbob.io/fonts/arvo-v20-latin-regular.woff2") format("woff2"),url("https://static.branchbob.io/fonts/arvo-v20-latin-regular.woff") format("woff"),url("https://static.branchbob.io/fonts/arvo-v20-latin-regular.ttf") format("truetype"),url("https://static.branchbob.io/fonts/arvo-v20-latin-regular.svg#Arvo") format("svg")
}

@font-face {
    font-display: swap;
    font-family: 'Cormorant';
    font-style: normal;
    font-weight: 400;
    src: url("https://static.branchbob.io/fonts/cormorant-v21-latin-regular.eot");
    src: url("https://static.branchbob.io/fonts/cormorant-v21-latin-regular.eot?#iefix") format("embedded-opentype"),url("https://static.branchbob.io/fonts/cormorant-v21-latin-regular.woff2") format("woff2"),url("https://static.branchbob.io/fonts/cormorant-v21-latin-regular.woff") format("woff"),url("https://static.branchbob.io/fonts/cormorant-v21-latin-regular.ttf") format("truetype"),url("https://static.branchbob.io/fonts/cormorant-v21-latin-regular.svg#Cormorant") format("svg")
}

@font-face {
    font-display: swap;
    font-family: 'Encode Sans';
    font-style: normal;
    font-weight: 400;
    src: url("https://static.branchbob.io/fonts/encode-sans-v19-latin-regular.eot");
    src: url("https://static.branchbob.io/fonts/encode-sans-v19-latin-regular.eot?#iefix") format("embedded-opentype"),url("https://static.branchbob.io/fonts/encode-sans-v19-latin-regular.woff2") format("woff2"),url("https://static.branchbob.io/fonts/encode-sans-v19-latin-regular.woff") format("woff"),url("https://static.branchbob.io/fonts/encode-sans-v19-latin-regular.ttf") format("truetype"),url("https://static.branchbob.io/fonts/encode-sans-v19-latin-regular.svg#EncodeSans") format("svg")
}

@font-face {
    font-display: swap;
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 400;
    src: url("https://static.branchbob.io/fonts/jetbrains-mono-v17-latin-regular.eot");
    src: url("https://static.branchbob.io/fonts/jetbrains-mono-v17-latin-regular.eot?#iefix") format("embedded-opentype"),url("https://static.branchbob.io/fonts/jetbrains-mono-v17-latin-regular.woff2") format("woff2"),url("https://static.branchbob.io/fonts/jetbrains-mono-v17-latin-regular.woff") format("woff"),url("https://static.branchbob.io/fonts/jetbrains-mono-v17-latin-regular.ttf") format("truetype"),url("https://static.branchbob.io/fonts/jetbrains-mono-v17-latin-regular.svg#JetBrainsMono") format("svg")
}

@font-face {
    font-display: swap;
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    src: url("https://static.branchbob.io/fonts/lora-v32-latin-regular.eot");
    src: url("https://static.branchbob.io/fonts/lora-v32-latin-regular.eot?#iefix") format("embedded-opentype"),url("https://static.branchbob.io/fonts/lora-v32-latin-regular.woff2") format("woff2"),url("https://static.branchbob.io/fonts/lora-v32-latin-regular.woff") format("woff"),url("https://static.branchbob.io/fonts/lora-v32-latin-regular.ttf") format("truetype"),url("https://static.branchbob.io/fonts/lora-v32-latin-regular.svg#Lora") format("svg")
}

@font-face {
    font-display: swap;
    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 400;
    src: url("https://static.branchbob.io/fonts/montserrat-alternates-v17-latin-regular.eot");
    src: url("https://static.branchbob.io/fonts/montserrat-alternates-v17-latin-regular.eot?#iefix") format("embedded-opentype"),url("https://static.branchbob.io/fonts/montserrat-alternates-v17-latin-regular.woff2") format("woff2"),url("https://static.branchbob.io/fonts/montserrat-alternates-v17-latin-regular.woff") format("woff"),url("https://static.branchbob.io/fonts/montserrat-alternates-v17-latin-regular.ttf") format("truetype"),url("https://static.branchbob.io/fonts/montserrat-alternates-v17-latin-regular.svg#MontserratAlternates") format("svg")
}

@font-face {
    font-display: swap;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url("https://static.branchbob.io/fonts/montserrat-v25-latin-regular.eot");
    src: url("https://static.branchbob.io/fonts/montserrat-v25-latin-regular.eot?#iefix") format("embedded-opentype"),url("https://static.branchbob.io/fonts/montserrat-v25-latin-regular.woff2") format("woff2"),url("https://static.branchbob.io/fonts/montserrat-v25-latin-regular.woff") format("woff"),url("https://static.branchbob.io/fonts/montserrat-v25-latin-regular.ttf") format("truetype"),url("https://static.branchbob.io/fonts/montserrat-v25-latin-regular.svg#Montserrat") format("svg")
}

@font-face {
    font-display: swap;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    src: url("https://static.branchbob.io/fonts/nunito-v25-latin-regular.eot");
    src: url("https://static.branchbob.io/fonts/nunito-v25-latin-regular.eot?#iefix") format("embedded-opentype"),url("https://static.branchbob.io/fonts/nunito-v25-latin-regular.woff2") format("woff2"),url("https://static.branchbob.io/fonts/nunito-v25-latin-regular.woff") format("woff"),url("https://static.branchbob.io/fonts/nunito-v25-latin-regular.ttf") format("truetype"),url("https://static.branchbob.io/fonts/nunito-v25-latin-regular.svg#Nunito") format("svg")
}

@font-face {
    font-display: swap;
    font-family: 'Old Standard TT';
    font-style: normal;
    font-weight: 400;
    src: url("https://static.branchbob.io/fonts/old-standard-tt-v18-latin-regular.eot");
    src: url("https://static.branchbob.io/fonts/old-standard-tt-v18-latin-regular.eot?#iefix") format("embedded-opentype"),url("https://static.branchbob.io/fonts/old-standard-tt-v18-latin-regular.woff2") format("woff2"),url("https://static.branchbob.io/fonts/old-standard-tt-v18-latin-regular.woff") format("woff"),url("https://static.branchbob.io/fonts/old-standard-tt-v18-latin-regular.ttf") format("truetype"),url("https://static.branchbob.io/fonts/old-standard-tt-v18-latin-regular.svg#OldStandardTT") format("svg")
}

@font-face {
    font-display: swap;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url("https://static.branchbob.io/fonts/open-sans-v34-latin-regular.eot");
    src: url("https://static.branchbob.io/fonts/open-sans-v34-latin-regular.eot?#iefix") format("embedded-opentype"),url("https://static.branchbob.io/fonts/open-sans-v34-latin-regular.woff2") format("woff2"),url("https://static.branchbob.io/fonts/open-sans-v34-latin-regular.woff") format("woff"),url("https://static.branchbob.io/fonts/open-sans-v34-latin-regular.ttf") format("truetype"),url("https://static.branchbob.io/fonts/open-sans-v34-latin-regular.svg#OpenSans") format("svg")
}

@font-face {
    font-display: swap;
    font-family: 'Permanent Marker';
    font-style: normal;
    font-weight: 400;
    src: url("https://static.branchbob.io/fonts/permanent-marker-v16-latin-regular.eot");
    src: url("https://static.branchbob.io/fonts/permanent-marker-v16-latin-regular.eot?#iefix") format("embedded-opentype"),url("https://static.branchbob.io/fonts/permanent-marker-v16-latin-regular.woff2") format("woff2"),url("https://static.branchbob.io/fonts/permanent-marker-v16-latin-regular.woff") format("woff"),url("https://static.branchbob.io/fonts/permanent-marker-v16-latin-regular.ttf") format("truetype"),url("https://static.branchbob.io/fonts/permanent-marker-v16-latin-regular.svg#PermanentMarker") format("svg")
}

@font-face {
    font-display: swap;
    font-family: 'Petit Formal Script';
    font-style: normal;
    font-weight: 400;
    src: url("https://static.branchbob.io/fonts/petit-formal-script-v13-latin-regular.eot");
    src: url("https://static.branchbob.io/fonts/petit-formal-script-v13-latin-regular.eot?#iefix") format("embedded-opentype"),url("https://static.branchbob.io/fonts/petit-formal-script-v13-latin-regular.woff2") format("woff2"),url("https://static.branchbob.io/fonts/petit-formal-script-v13-latin-regular.woff") format("woff"),url("https://static.branchbob.io/fonts/petit-formal-script-v13-latin-regular.ttf") format("truetype"),url("https://static.branchbob.io/fonts/petit-formal-script-v13-latin-regular.svg#PetitFormalScript") format("svg")
}

@font-face {
    font-display: swap;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    src: url("https://static.branchbob.io/fonts/playfair-display-v30-latin-regular.eot");
    src: url("https://static.branchbob.io/fonts/playfair-display-v30-latin-regular.eot?#iefix") format("embedded-opentype"),url("https://static.branchbob.io/fonts/playfair-display-v30-latin-regular.woff2") format("woff2"),url("https://static.branchbob.io/fonts/playfair-display-v30-latin-regular.woff") format("woff"),url("https://static.branchbob.io/fonts/playfair-display-v30-latin-regular.ttf") format("truetype"),url("https://static.branchbob.io/fonts/playfair-display-v30-latin-regular.svg#PlayfairDisplay") format("svg")
}

@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url("https://static.branchbob.io/fonts/poppins-v20-latin-regular.eot");
    src: url("https://static.branchbob.io/fonts/poppins-v20-latin-regular.eot?#iefix") format("embedded-opentype"),url("https://static.branchbob.io/fonts/poppins-v20-latin-regular.woff2") format("woff2"),url("https://static.branchbob.io/fonts/poppins-v20-latin-regular.woff") format("woff"),url("https://static.branchbob.io/fonts/poppins-v20-latin-regular.ttf") format("truetype"),url("https://static.branchbob.io/fonts/poppins-v20-latin-regular.svg#Poppins") format("svg")
}

@font-face {
    font-display: swap;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: url("https://static.branchbob.io/fonts/raleway-v28-latin-regular.eot");
    src: url("https://static.branchbob.io/fonts/raleway-v28-latin-regular.eot?#iefix") format("embedded-opentype"),url("https://static.branchbob.io/fonts/raleway-v28-latin-regular.woff2") format("woff2"),url("https://static.branchbob.io/fonts/raleway-v28-latin-regular.woff") format("woff"),url("https://static.branchbob.io/fonts/raleway-v28-latin-regular.ttf") format("truetype"),url("https://static.branchbob.io/fonts/raleway-v28-latin-regular.svg#Raleway") format("svg")
}

@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url("https://static.branchbob.io/fonts/roboto-v30-latin-regular.eot");
    src: url("https://static.branchbob.io/fonts/roboto-v30-latin-regular.eot?#iefix") format("embedded-opentype"),url("https://static.branchbob.io/fonts/roboto-v30-latin-regular.woff2") format("woff2"),url("https://static.branchbob.io/fonts/roboto-v30-latin-regular.woff") format("woff"),url("https://static.branchbob.io/fonts/roboto-v30-latin-regular.ttf") format("truetype"),url("https://static.branchbob.io/fonts/roboto-v30-latin-regular.svg#Roboto") format("svg")
}

@font-face {
    font-display: swap;
    font-family: 'Satisfy';
    font-style: normal;
    font-weight: 400;
    src: url("https://static.branchbob.io/fonts/satisfy-v17-latin-regular.eot");
    src: url("https://static.branchbob.io/fonts/satisfy-v17-latin-regular.eot?#iefix") format("embedded-opentype"),url("https://static.branchbob.io/fonts/satisfy-v17-latin-regular.woff2") format("woff2"),url("https://static.branchbob.io/fonts/satisfy-v17-latin-regular.woff") format("woff"),url("https://static.branchbob.io/fonts/satisfy-v17-latin-regular.ttf") format("truetype"),url("https://static.branchbob.io/fonts/satisfy-v17-latin-regular.svg#Satisfy") format("svg")
}

:root {
    --primary-color: #0062fc;
    --product-background: #fcfcfc;
    --button-color: #333333;
    --review-background-color: #ffffff;
    --review-font-color: #111928;
    --success-color: #0e9f6e;
    --background-color-navi: #f8f8f8;
    --background-color-sub-navi: #ffffff;
    --icon-color: #333333;
    --background-color-contact-box: #ffffff;
    --logo-size: 32px;
    --highlighted-cat-color: #007bff;
    --soft-blue: #5865E3;
    --google-font: Montserrat, sans-serif;
    --promo-background-color: #ffcc00;
    --promo-font-color: #222222;
    --background-color: #f8f8f8;
    --font-color: #333333;
    --link-color: #007bff;
    --load-more-button-font-color: #ffffff;
    --load-more-button-background-color: #111928;
    --page-width: 1240px;
    --slideshow-font-color: #ffffff;
    --slideshow-headline-font-size: 1.875rem;
    --slideshow-subheadline-font-size: 1.125rem;
    --social-icon-background-color: #4a5e87;
    --highlighted-tag-background-color: #F05252;
    --inactive-color: #c0c0c0;
    --card-section-bottom-padding: 6rem;
    --navigation-font: Poppins, sans-serif;
    --navigation-color: #222222 !important;
    --promoted-background: #fdfdfd;
    --primary-color: #222222
}

html {
    font-family: var(--google-font)
}

.display-off {
    display: none
}

.sidebar-on {
    grid-template-columns: 350px calc(100% - 362px)
}

.aspect-ratio-1-1 {
    aspect-ratio: 1 / 1
}

.aspect-ratio-2-3 {
    aspect-ratio: 2 / 3
}

.aspect-ratio-3-2 {
    aspect-ratio: 3 / 2
}

.aspect-ratio-4-3 {
    aspect-ratio: 4 / 3
}

.aspect-ratio-16-9 {
    aspect-ratio: 16 / 9
}

.border-radius-on {
    border-radius: 0.5rem
}

.border-radius-off {
    border-radius: 0 !important
}

h1,h2,h3,h4,h5,h6 {
    font-family: Montserrat;
    color: #222222
}

h1,h2,h3,h4,h5,h6 {
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2
}

h1 {
    font-size: 2.5rem
}

h2 {
    font-size: 2rem
}

h3 {
    font-size: 1.75rem
}

h4 {
    font-size: 1.5rem
}

h5 {
    font-size: 1.25rem
}

h6 {
    font-size: 1rem
}

p,li,summary {
    color: #333333
}

[data-wundery-add][disabled],[data-wundery-add][disabled]:hover {
    background-color: #E5E7EB
}

.wundery-search-input-wrapper {
    position: relative;
    display: block !important
}

.wundery-search-results-wrapper {
    top: 56px !important;
    border-radius: 8px !important;
    right: 0 !important
}

.link-resend-verify-btn {
    color: #0062fc
}

.link-resend-verify-btn:hover {
    -webkit-text-decoration-line: underline;
    text-decoration-line: underline
}

.fslightbox-toolbar {
    background: none !important
}

.fslightbox-nav .fslightbox-toolbar-button[title='Enter fullscreen'] {
    display: none
}

.fslightbox-nav .fslightbox-toolbar-button[title='Close'] {
    border-radius: 50%;
    background: rgba(255,255,255,0.3);
    width: 40px;
    height: 40px;
    margin: 6px
}

.fslightbox-nav .fslightbox-slide-number-container {
    display: none
}

.fslightbox-slide-btn-container .fslightbox-slide-btn {
    border-radius: 50%;
    background: rgba(255,255,255,0.3);
    width: 48px;
    height: 48px
}

.boxed-slideshow {
    max-width: 1240px
}

.full-slideshow {
    margin-left: -1.25rem !important;
    margin-right: -1.25rem !important
}

.full-slideshow a,.full-slideshow img {
    border-radius: 0 !important
}

@media screen and (min-width: 1024px) {
    .slideshow {
        max-height:460px
    }
}

.border {
    border: 1px solid #c0c0c0 !important
}

@media screen and (min-width: 768px) {
    .md\:border-none-right {
        border-top-right-radius:0;
        border-bottom-right-radius: 0
    }

    .related-products .product-card-img {
        height: 12rem !important
    }

    .md\:mb-card-section-bottom-padding {
        margin-bottom: var(--card-section-bottom-padding) !important
    }
}

@media screen and (max-width: 767px) {
    .order-table col.fixed-width {
        width:80px
    }
}

@media screen and (max-width: 1023px) {
    .mobile-navigation-footer {
        position:fixed;
        bottom: 0
    }

    .mobile-navigation-header-sticky {
        position: fixed;
        top: 0
    }
}

.maximum-columns-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr))
}

.maximum-columns-2,.maximum-columns-3,.maximum-columns-4,.maximum-columns-5,.maximum-columns-6,.maximum-columns-7,.maximum-columns-8 {
    grid-template-columns: repeat(auto-fit, minmax(calc(50% - 0.75rem), 1fr))
}

.shadow-on {
    box-shadow: var(--tw-ring-offset-shadow, 0 0 rgba(0,0,0,0)),var(--tw-ring-shadow, 0 0 rgba(0,0,0,0)),var(--tw-shadow);
    --tw-shadow: 0 4px 6px -1px #0000001a,0 2px 4px -2px #0000001a;
    --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color),0 2px 4px -2px var(--tw-shadow-color)
}

@media screen and (min-width: 768px) {
    .maximum-columns-1 {
        grid-template-columns:repeat(1, minmax(0, 1fr))
    }

    .maximum-columns-2 {
        grid-template-columns: repeat(auto-fit, minmax(calc(50% - 2rem), 1fr))
    }

    .maximum-columns-3 {
        grid-template-columns: repeat(auto-fit, minmax(calc(33% - 2rem), 1fr))
    }

    .maximum-columns-4 {
        grid-template-columns: repeat(auto-fit, minmax(calc(25% - 2rem), 1fr))
    }

    .maximum-columns-5 {
        grid-template-columns: repeat(auto-fit, minmax(calc(20% - 2rem), 1fr))
    }

    .maximum-columns-6 {
        grid-template-columns: repeat(auto-fit, minmax(calc(16.67% - 2rem), 1fr))
    }

    .maximum-columns-7 {
        grid-template-columns: repeat(auto-fit, minmax(calc(14.28% - 2rem), 1fr))
    }

    .maximum-columns-8 {
        grid-template-columns: repeat(auto-fit, minmax(calc(12.5% - 2rem), 1fr))
    }

    .logo-position-left {
        flex-direction: row
    }

    .logo-position-center {
        flex-direction: row-reverse;
        flex: 1;
        justify-content: left
    }

    .logo-position-center .logo {
        margin: 0 auto
    }
}

@media screen and (max-width: 767px) {
    .sticky-buy-button-on {
        position:fixed
    }
}

.main-slider-dots {
    display: block;
    height: .75rem;
    width: .75rem;
    border-radius: 9999px;
    --tw-bg-opacity: 1;
    background-color: rgba(156, 163, 175, var(--tw-bg-opacity))
}

.main-slider-dots.tns-nav-active {
    --tw-bg-opacity: 1;
    background-color: rgba(255, 255, 255, var(--tw-bg-opacity))
}

.tns-nav-active {
    --tw-bg-opacity: 1 !important;
    background-color: rgba(255, 255, 255, var(--tw-bg-opacity)) !important
}

@media (max-width: 1023px) {
    .mmenu,.sidebar {
        pointer-events:none;
        visibility: hidden;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 150;
        height: 100vh;
        width: 100%;
        overflow: auto;
        padding-left: .5rem;
        padding-right: .5rem;
        padding-top: .875rem;
        padding-bottom: .875rem;
        opacity: 0;
        transition-property: all;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: .15s;
        transition-duration: .3s
    }

    .mmenu.active-menu,.sidebar.active-side {
        pointer-events: auto;
        visibility: visible;
        opacity: 1
    }
}

.search-box.active-search {
    pointer-events: auto;
    visibility: visible;
    opacity: 0.95
}

@media (min-width: 1023px) {
    #sidebar-wrapper.fix-bottom-VP #sc,#sidebar-wrapper.fix-top-VP #sc {
        position:fixed
    }

    #sidebar-wrapper.fix-top-VP #sc {
        top: 95px
    }

    #sidebar-wrapper.fix-bottom-VP #sc {
        bottom: 95px
    }

    #sidebar-wrapper.flex-bottom {
        align-items: flex-end
    }

    .has-dropdown {
        position: relative;
        z-index: 50
    }

    .dropdown-arrow {
        display: block;
        transition-property: all;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: .15s;
        transition-duration: .3s
    }

    .bb-dropdown-menu {
        pointer-events: none;
        visibility: hidden;
        position: absolute;
        top: calc(100% + 20px);
        left: 0;
        height: auto;
        width: 12rem
    }

    .bb-dropdown-menu>:not([hidden])~:not([hidden]) {
        --tw-space-y-reverse: 0;
        margin-top: calc(.375rem*(1 - var(--tw-space-y-reverse)));
        margin-bottom: calc(.375rem*var(--tw-space-y-reverse))
    }

    .bb-dropdown-menu {
        border-radius: .375rem;
        --tw-bg-opacity: 1;
        background-color: var(--background-color-sub-navi);
        padding: .625rem;
        opacity: 0;
        transition-property: all;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: .15s;
        transition-duration: .3s;
        box-shadow: 0 4px 6px -1px #0000001a, 0 2px 4px -2px #0000000d
    }

    .bb-dropdown-menu a {
        display: block;
        border-radius: .25rem;
        padding-top: .5rem;
        padding-bottom: .5rem;
        padding-left: 1rem;
        padding-right: 1rem;
        font-size: .875rem;
        line-height: 1.25rem;
        --tw-text-opacity: 1;
        transition-timing-function: cubic-bezier(0, 0, 0.2, 1)
    }

    .bb-dropdown-menu a:hover {
        --tw-bg-opacity: 1;
        background-color: var(--background-color-sub-navi)
    }

    .bb-dropdown-menu a:active {
        --tw-bg-opacity: 1;
        background-color: var(--background-color-sub-navi);
        --tw-text-opacity: 1
    }

    .has-dropdown.active-dropdown>a {
        --tw-text-opacity: 1 !important
    }

    .has-dropdown.active-dropdown .dropdown-arrow {
        --tw-rotate: 180deg;
        transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
    }

    .has-dropdown.active-dropdown .bb-dropdown-menu {
        pointer-events: auto;
        visibility: visible;
        opacity: 1
    }
}

@media (max-width: 1023px) {
    .has-mobile-dropdown {
        position:relative;
        z-index: 50
    }

    .dropdown-mobile-arrow {
        display: block;
        transition-property: all;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: .15s;
        transition-duration: .3s
    }

    .dropdown-mobile-menu {
        pointer-events: none;
        visibility: hidden;
        height: 0
    }

    .dropdown-mobile-menu>:not([hidden])~:not([hidden]) {
        --tw-space-y-reverse: 0;
        margin-top: calc(.375rem*(1 - var(--tw-space-y-reverse)));
        margin-bottom: calc(.375rem*var(--tw-space-y-reverse))
    }

    .dropdown-mobile-menu {
        overflow: hidden;
        padding-left: .625rem;
        padding-right: .625rem;
        opacity: 0;
        transition-property: all;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: .15s;
        transition-duration: .3s
    }

    .dropdown-mobile-menu a {
        display: block;
        border-radius: .25rem;
        padding-top: .5rem;
        padding-bottom: .5rem;
        padding-left: 1rem;
        padding-right: 1rem;
        font-size: .875rem;
        line-height: 1.25rem;
        --tw-text-opacity: 1;
        color: rgba(107, 114, 128, var(--tw-text-opacity))
    }

    .dropdown-mobile-menu a:active {
        --tw-text-opacity: 1;
        color: rgba(17, 25, 40, var(--tw-text-opacity))
    }

    .has-mobile-dropdown.active-mobile-dropdown>a {
        --tw-text-opacity: 1 !important;
        color: rgba(17, 25, 40, var(--tw-text-opacity)) !important
    }

    .has-mobile-dropdown.active-mobile-dropdown .dropdown-mobile-arrow {
        --tw-rotate: 180deg;
        transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
    }

    .has-mobile-dropdown.active-mobile-dropdown .dropdown-mobile-menu {
        pointer-events: auto;
        visibility: visible;
        padding: .625rem;
        opacity: 1
    }
}
