* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h2 {
    margin-top: 50px;
    padding-top: 50px;
    text-decoration: underline;
}
body {
    background-color: #fafafa;
    text-align: center;
    align-self: center;
    width: 100%;
    position: relative;
    margin-top: 50px;
}
form {
    margin: 50px;
}
/**.formcontainer {
    
    // display: flex;
    // flex-direction: row;
}**/
input {
    width: 200px;
    /** height: 20px; **/
    padding: 5px;
    font-size: 20px;
}
button.btn_Login {
    height: 30px;
    width: 100px;
    display: none;
    /* padding: 5px; */
    margin: 5px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    color: white;
    background: green;
    border-radius: 20%;
}
button.btn_Login:hover {
    color: green;
    background: white;
    border: 2px green;
}
.newUser {
    text-decoration: none;
    cursor: pointer;
    color: red;
    font-size: 20px;
    font-weight: bold;
    opacity: 0.5;
}
.newUser:hover {
    opacity: 1;
}
.form-control {
    margin: .5rem 0;
}
.successMsg {
    font-size: 30px;
    text-align: center;
    font-weight: 600;
}
.footerContainer {
    height: 50px;
    background-color: saddlebrown;
    color: wheat;
    margin: 50px 0 20px 0;
    padding: 20px;
    text-align: center;
}
#consent-popup {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 2rem;
    opacity: 1;
    background-color: #fff;
    transition: opacity .8s ease;

    &.hidden {
        opacity: 0;
    }

}
.top-margin {
    margin-top: 50px;
}
    
